{% macro t(key) %}{{ {
  "language": "es",
  "edit.link.title": "Editar esta página",
  "footer.previous": "Anterior",
  "footer.next": "Siguiente",
  "meta.comments": "Comentarios",
  "meta.source": "Código",
  "search.placeholder": "Buscar",
  "search.result.placeholder": "Comience a escribir para iniciar su búsqueda",
  "search.result.none": "No se encontraron coincidencias para su búsqueda",
  "search.result.one": "1 coincidencia encontrada",
  "search.result.other": "# coincidencias encontradas",
  "source.link.title": "Ir al repositorio en GitHub",
  "toc.title": "Tabla de contenidos"
}[key] }}{% endmacro %}
